<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        Từ: <input type="text" name="DEP" id="DEP">
        Đến: <input type="text" name="ARR" id="ARR">
        Ngày đi: <input type="text" name="STD" id="STD">
        Ngày về: <input type="text" name="STA" id="STA">
        <button type="submit" name="checkgia">Kiểm tra</button>
    </form>
</body>
</html>